@font-face {
  font-family: 'MoskMedium';
  src: url("../fonts/Mosk/MoskMedium/MoskMedium500.eot?#iefix") format("embedded-opentype"), url("../fonts/Mosk/MoskMedium/MoskMedium500.woff") format("woff"), url("../fonts/Mosk/MoskMedium/MoskMedium500.ttf") format("truetype"), url("../fonts/Mosk/MoskMedium/MoskMedium500.svg#MoskMedium500") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoskBold';
  src: url("../fonts/Mosk/MoskBold/MoskBold700.eot?#iefix") format("embedded-opentype"), url("../fonts/Mosk/MoskBold/MoskBold700.woff") format("woff"), url("../fonts/Mosk/MoskBold/MoskBold700.ttf") format("truetype"), url("../fonts/Mosk/MoskBold/MoskBold700.svg#MoskBold700") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoskExtraLight';
  src: url("../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.eot?#iefix") format("embedded-opentype"), url("../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.woff") format("woff"), url("../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.ttf") format("truetype"), url("../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.svg#MoskExtra-Light200") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "MoskBold";
  font-weight: normal;
  margin: 0;
  line-height: 1;
}

html, body {
  height: 100%;
}

body {
  font-family: "MoskMedium", sans-serif;
  color: #616a7f;
}

body.thank-you-page {
  background: #f2f6f7;
}

input {
  width: 100%;
  padding: 0 35px;
  border: 2px solid #f2f5f6;
  border-radius: 100px;
  font-family: "MoskExtraLight";
  font-size: 32px;
  line-height: 66px;
  color: #616a7f;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

section ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

.heading-box {
  padding: 75px 0 0 65px;
  margin-right: 10px;
}

.heading-box h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  font-family: "MoskBold";
  color: #000;
}

.heading-box .subheading {
  font-size: 32px;
  font-family: "MoskMedium";
  margin-bottom: 90px;
}

.content-headings-box {
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 1;
  text-align: center;
}

.content-headings-box .content-header {
  margin-bottom: 15px;
  line-height: 1;
  color: #616a7f;
}

.content-headings-box .content-description {
  font-size: 28px;
  font-family: "MoskExtraLight";
  color: #000;
}

.tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  row-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tabs-container > .left-side {
  width: 700px;
  min-height: 100vh;
  background: #f2f6f7;
}

.tabs-container * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.tabs-container :focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.tabs-container .button-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-left: none;
}

.tabs-container button.tablinks {
  position: relative;
  margin: 0;
  padding-left: 65px;
  font-size: 32px;
  font-family: "MoskMedium";
  color: #616a7f;
  line-height: 100px;
  text-align: left;
  border-radius: 0;
  border: none;
  background: transparent;
}

.tabs-container button.tablinks:hover, .tabs-container button.tablinks.active {
  color: #616a7f;
  background: #ecf1f2;
}

.tabs-container button.tablinks:hover:before, .tabs-container button.tablinks.active:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: #616a7f;
}

.tabs-container button.tablinks:hover {
  cursor: pointer;
}

.tabs-container section {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  display: none;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  padding: 85px 10px 10px;
}

.tabs-container section.active {
  display: block;
}

.tabs-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 180px;
  max-width: 600px;
}

.tabs-container .main-input {
  position: relative;
  margin-bottom: 40px;
}

.tabs-container .main-input input {
  padding-right: 75px;
}

.tabs-container .main-input .add-domain {
  display: block;
  position: absolute;
  right: 24px;
  top: 50%;
  margin-top: -17px;
  width: 37px;
  height: 37px;
  background: url("../img/add-icon.png");
}

.tabs-container .main-input .add-domain:hover {
  cursor: pointer;
}

.tabs-container .sites-list,
.tabs-container .schemes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  max-height: 400px;
  overflow-y: auto;
}

.tabs-container .sites-list li,
.tabs-container .schemes-list li {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 35px;
  margin-bottom: 12px;
  font-family: "MoskMedium";
  font-size: 32px;
  line-height: 70px;
  color: #616a7f;
  background-color: #ecf1f2;
  border-radius: 100px;
}

.tabs-container .sites-list li span.delete-icon,
.tabs-container .schemes-list li span.delete-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  width: 28px;
  height: 28px;
  background: url(../img/delete-icon.png) 0 0 no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tabs-container .sites-list li span.delete-icon:hover,
.tabs-container .schemes-list li span.delete-icon:hover {
  background: url(../img/delete-icon.png) 0 -28px no-repeat;
  cursor: pointer;
}

.tabs-container .property-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs-container .property-list li {
  position: relative;
  width: 280px;
  height: 79px;
  margin-bottom: 10px;
  padding: 3px 3px 3px 73px;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  border: 2px solid #f2f5f6;
  border-radius: 100px;
}

.tabs-container .property-list li .color-preview {
  left: 3px;
  top: 3px;
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: -1px;
  border-radius: 100%;
  background: transparent;
}

.tabs-container .property-list li .value-name,
.tabs-container .property-list li input {
  display: block;
  width: 100%;
  font-size: 32px;
}

.tabs-container .property-list li .value-name {
  font-family: "MoskExtraLight";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-container .property-list li input {
  font-family: "MoskBold";
  line-height: 1;
  text-align: center;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 0;
}

.tabs-container .save-scheme {
  width: 350px;
  display: block;
  margin: 20px auto 30px;
  border-radius: 100px;
  background: #616a7f;
  color: #fff;
  text-transform: capitalize;
  font-family: "MoskBold";
  font-size: 32px;
  line-height: 60px;
  border: 5px solid #616a7f;
}

.tabs-container .save-scheme:hover {
  color: #ecf1f2;
  cursor: pointer;
}

.tabs-container .schemes-list .list-item .scheme-name {
  margin-right: 10px;
}

.tabs-container .schemes-list .list-item .activate-btn {
  font-family: "MoskBold";
  color: #616a7f;
}

.tabs-container .schemes-list .list-item .activate-btn:hover {
  cursor: pointer;
}

.tabs-container .schemes-list .list-item.active .activate-btn {
  display: none;
}

.tabs-container .schemes-list .list-item.active .scheme-name {
  font-family: "MoskBold";
  color: #616a7f;
}

/* / @media all */
@media screen and (max-width: 1280px) {
  .tabs-container .property-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 900px) {
  .tabs-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs-container .left-side {
    width: 100%;
    min-height: auto;
    padding: 30px 0;
  }
  .tabs-container .heading-box {
    padding-top: 0;
  }
  .tabs-container .button-list {
    min-width: 100%;
  }
  .tabs-container button.active:after, .tabs-container:hover:after {
    width: 5px;
  }
}

.thank-you-section {
  text-align: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.thank-you-section .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 780px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 100px;
  width: 740px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 90px 30px rgba(217, 222, 223, 0.77);
  box-shadow: 0px 0px 90px 30px rgba(217, 222, 223, 0.77);
}

.thank-you-section h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "MoskBold";
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 75px;
}

.thank-you-section h1 .logo {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
}

.thank-you-section h2 {
  font-family: "MoskExtraLight";
  font-size: 32px;
}

.thank-you-section .option-preview {
  margin: 30px auto 0;
  width: 500px;
}

.thank-you-section footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 740px;
  margin: 0 auto;
  min-height: 70px;
  background: #585858;
}

@media (max-width: 900px) {
  .thank-you-section .container,
  .thank-you-section footer {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */