[tooltip] {
  position: relative;
}
[tooltip]:before {
  content: '';
  height: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0s;
  width: 0;
  z-index: 1;

  border-bottom: 8px solid rgba(0,0,0,0.65);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  /* defaults to bottom-right */
  bottom: -10px;
  right: 25%;
}
[tooltip]:after {
  background: rgba(0,0,0,0.65);
  border-radius: 3px;
  color: #eee;
  content: attr(tooltip);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 6px 15px;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  transition: opacity 0s;
  white-space: nowrap;
  z-index: 1;

  /* defaults to bottom-right */
  bottom: -34px;
  left: 0;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}

[tooltip].tooltip-left:before {
  left: 25%;
  right: initial;
}
[tooltip].tooltip-left:after {
  left: initial;
  right: 0;
}

[tooltip].tooltip-top:before {
  border-bottom: initial;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid rgba(0,0,0,0.65);

  bottom: initial;
  top: -10px;
}
[tooltip].tooltip-top:after {
  bottom: initial;
  top: -34px;
}

[tooltip].tooltip-fullleft:before {
  border-bottom: 5px solid transparent;
  border-left: 8px solid rgba(0,0,0,0.65);
  border-right: initial;
  border-top: 5px solid transparent;

  bottom: initial;
  left: initial;
  right: 100%;
  top: 7px;
}
[tooltip].tooltip-fullleft:after {
  bottom: initial;
  left: initial;
  right: 36px;  /* assumes a 28px wide hover target */
  top: initial;
}

[tooltip].tooltip-fullright:before {
  border-bottom: 5px solid transparent;
  border-left: initial;
  border-right: 8px solid rgba(0,0,0,0.65);
  border-top: 5px solid transparent;

  bottom: initial;
  left: 100%;
  right: initial;
  top: 7px;
}
[tooltip].tooltip-fullright:after {
  bottom: initial;
  left: 32px;  /* assumes a 24px wide hover target */
  right: initial;
  top: initial;
}
